@using BLL;
@*@model IEnumerable<UI.Models.JogosModel>*@
@model List<UI.Models.JogosModel>





@{
    ViewData["Title"] = "Index";
    

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Jogos
                
            </th>

            <th>

            </th>

        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model) {
            <tr>
                
                <td>
                    <p>ID: @item.Id </p>
                    <p>Nome: @item.Nome </p>
                    <p>Descrição: @item.Descricao </p>
                    <p>Codigo de Barra: @item.CodigoBarra </p>
                    <p>Preço: @item.Preco </p>
                    <p>Quantidade: @item.QuantidadeEstoque </p>
                </td>

                <td>
                    
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }

    </tbody>
</table>
